

.folder-cont{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: start;
    padding-left: 5rem;
}

.file-line{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 5rem;
    height: 20rem;
}
